body {
    background-color: #bed6bc !important;
}

nav {
    background-color: #4cb060;
}

.nav-item {
    float: right;
}

main {
    margin-top: 70px;
}

#login1 {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),url(../images/padel.jpg);
    background-size: cover;
}

#login2 {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),url(../images/tenis.jpg);
    background-size: cover;
}

#perfil {
    background-image: url(../images/perfil.jpg);
    background-repeat: no-repeat;
    background-size: 300px 300px;
}

.nav-tabs > .nav-item > .nav-link {
    font-size: 12px;
}

.turno1 {
    text-decoration: overline;
}

.turno2 {
    text-decoration: underline;
}

.leyenda {
    font-size: 12px;
}

.tenis {
    background-color: darkviolet;
}

.vacaciones {
    background-color: #cf6c02;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4cb060;
}